* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
  color: white;
}

.background {
  padding: 44px 0 44px 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 555px) {
  .background {
    padding: 44px 116px;
  }
}
.container {
  width: 317px;
  max-height: 850px;
  background: #1a1b21;
  border-radius: 10px 10px 10px 10px;
}

.info--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info--button-container {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: center;
}

.about--container {
  padding: 33px 35px 0 35px;
}

.interests--container {
  padding: 27px 35px 24px 35px;
}

.footer--container {
  padding: 20px 73px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
}

.info--button {
  text-decoration: none;
  width: 115px;
  display: flex;
  padding: 9px 13px 9px 11px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #5093e2;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #374151;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.info--button:hover {
  background: #5093e2;
  color: #fff;
  fill: #fff;
  transform: scale(1.1);
}

.info--button-one {
  text-decoration: none;
  width: 115px;
  display: flex;
  padding: 9px 13px 9px 11px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #5093e2;
  border: 1px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  fill: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.info--button-one:hover {
  background: #fff;
  color: #374151;
  fill: #374151;
  border-color: #5093e2;
  transform: scale(1.1);
}

.footer--button {
  fill: #918e9b;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.footer--button:hover {
  fill: #5093e2;
  transform: scale(1.1);
}

.info--img {
  border-radius: 10px 10px 0px 0px;
}

.info--title {
  margin: 21px 0 0 0;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.about--title {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.interests--title {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.info--text {
  color: #f3bf99;
  text-align: center;

  font-size: 12.8px;
  font-weight: 400;
  margin: 6px 0 0 0;
}
.about--text {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.interests--text {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.info--subtext {
  text-align: center;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  margin: 9px 0 15px 0;
}
